* {
	font-family: MuseoSansCyrl, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    max-width: 76.8rem;
    height: 100%;
    margin: 0 auto;
    background-color: beige;
    padding: 2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.1), 0 1rem 1.6rem rgba(0,0,0,0.1);
}


.descr {
    width: 100%;
    height: 0;
    overflow: hidden;
}

.meme {
    display: block;
    max-width: 30rem;
    margin: 3rem auto;
}


label {
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 1.6rem;
    color: blue;
    display: block;
    position: relative;
    margin: 1rem 0;
}

.container:hover label {
    color: black;
}

.container:hover label:after {
    display: inline;
}

input{
    display: none;
}

.arrow {
    display: none;
}

label:after {
    display: none;
    font-family: 'FontAwesome';
    content: '\f054';
    position: absolute;
    right: 0;
}

input:checked + label:after {
    font-family: 'FontAwesome';
    content: '\f078';
    position: absolute;
    right: 0;
}

input:checked + label + .descr {
    height: auto;
}

@media (max-width: 1200px) {

    .container {
        max-width: 50rem;
        padding: 1.5rem;

    }

    label {
        font-size: 1.4rem;
    }

    .meme {
        max-width: 25rem;
        margin: 2rem auto;
    }
    

}

@media (max-width: 568px) {

    .container {
        max-width: 32rem;
        padding: 1rem;

    }

    label {
        font-size: 1rem;
    }

    .meme {
        max-width: 15rem;
        margin: 1rem auto;
    }
    

}










